* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .root {
   width: 100%;
   height: 100vh;
   display: flex;
 }

 .login-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 375px;
   padding: 0px 50px;
   background-color: #eee;
   border: 1px solid #ccc;
   gap: 40px;
 }

 .input-container {
   margin-bottom: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .input-box {
   padding: 5px 10px;
   height: 36px;
   font-size: 18px;
   border: 1px solid #dadada;
 }

 .info-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .link-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 input[type="checkbox"] {
   width: 20px;
   height: 20px;
   margin-right: 8px;
 }

 input[type="checkbox"] ~ label {
   cursor: pointer;
 }

 .check-box {
   display: flex;
   align-items: center;
 }

 .link-find-pw {
   color: black;
   line-height: 1.5;
   text-decoration: none;
 }

 .btn-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
 }

 .btn {
   width: 100%;
   padding: 14px;
   height: 52px;
   font-size: 18px;
   font-weight: bold;
   color: white;
   border: 0;
   border-radius: 5px;
 }

 .btnP {
   background-color: #218ecb;
 }

 .btnDk {
   background-color: #606477;
 }

 .btnDk:hover {
   background-color: #505050;
 }

 .main-img {
   width: calc(100% - 375px);
   object-fit: cover;
 }