* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {color: #000; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none; font-weight: 700;}

.margin-bottom-lg {
    margin-bottom: 40px;
}
.padding-left-md{
    padding-left: 20px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
    overflow: hidden;
}

.login-container{
    position: relative;
    z-index: 10000;
    width: 475px;
    background: #EEE;
    /* border: 1px solid #000; */
}

.login-container .login-box {
    position: absolute;
    /* border: 1px solid #000; */
    width: 300px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-text{
    font-size: 2rem;
    margin-bottom: 40px;
}
.id{
    margin-bottom: 20px;
}

.password{
    margin-bottom: 20px;
}



.id input, .password input{
    width: 100%;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #DADADA;
    background: #fff;
}



img{
    width: calc(100% - 475px) ;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid #000; */
}


.save-find-box{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}


.login-button {
    border-style: none;
    margin-bottom: 20px;
}
.login-button button{
    width: 98%;
    height: 52px;
    border-radius: 4px;
    background: #218ECB;
    color: #fff;
    font-weight: 700;
}
.exit-button button{
    width: 98%;
    height: 52px;
    border-radius: 4px;
    background: #606477;
    color: #fff;
    font-weight: 700;
    border-style: none;
}
.modal-info{
    color: #22577E;
    font-weight: 700;
}
.signup-modal{
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 500px;
    background-color: #f1f1f1;
    border: 1px solid #CCC;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.isModal{
    z-index: 10000;
}
.signup-container{
    margin-top: 100px;
    margin-left: 100px;
}

.signup-container .signup-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.signup-input {
    width: 60%;
    border-radius: 4px;
    border: 1px solid #DADADA;
    background: #FFF;
    gap: 10px;
    height: 34px;
}


.signup-container div{
    margin-bottom: 20px;
}


.signup-grid span{
    display: inline-block;
    width: 25%;
}

.modal-button{
    color: #fff;
    width: 220px;
    height: 34px;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
}
.primary{
    background-color: #218ECB;
}
.gray{
    background-color: #606477;
}

   .dark-curtain{
            position: absolute;
            background-color: #606477;
            opacity: 0.7;
            width: 100vw;
            height: 100vh;
            z-index: 200;
        }