* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.icon {
    margin-right: 5px;
    height: 16px;
}

.icon-x {
    margin-right: 5px;
    height: 13px;
}

/*  위  */
.up {
    display: flex;
    width: 100%;
    background-color: #FFF;
    justify-content: flex-end;
    border-bottom: 1px solid #D2D2D2;
}

.up-btn {
    padding: 10px 20px;
    display: flex;
}

.btn {
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 171.429% */
    letter-spacing: 0.07px;

    width: 90px;
    padding: 2px;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #DADADA;
    background: #FFF;

    cursor: pointer;
    opacity: 1;
}

.btn:hover {
    background-color: #e0e7ef;
}

/*  아래  */
.down {
    background: #FAFAFA;
    display: flex;
    width: 100%;
    height: calc(100% - 51px);
}

/*  아래.왼쪽  */
.down-left-btn {
    padding: 8px 15px;
    border-bottom: 1px solid #DBDBDB;
    background: #005D92;
    display: flex;
}

.down-left {
	border: 1px solid #F1F1F1;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 10px;
}

.down-left-text {
    padding: 10px 20px 10px 20px;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    display: flex;

    background: #F1F1F1;
}

.FC-btn {
    display: flex;
    width: 80px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #FFF;
    cursor: pointer;
    opacity: 1;
}

.FC-btn:hover {
	opacity: 0.9;
}

#search {
    width: 65%;
    display: flex;
    height: 30px;
    padding: 6px 10px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;

    border-radius: 4px;
    border: 1px solid #DADADA;
    background: #FFF;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;


    border-right: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    background: #FAFAFA;
}

/*  아래.오른쪽  */
.down-right {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 70%;
}

.down-right-btn {
    display: flex;
    border-bottom: 1px solid #CCC;
    background: #5584AC;
    padding: 8px 15px;
}


/*  아래.오른쪽.위  */

/*  아래.오른쪽.아래  */
.down-right-btn2 {
    display: flex;
    border-bottom: 1px solid #CCC;
    background: #5584AC;
    padding: 8px 15px;
}


/* 모달 */
.modal{
	display: none;
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 1000; /* 원하는 값으로 조정 */
}
.box{
	display: flex;
	flex-direction: column;
	border: 1px solid #CCC;
    background: #F1F1F1;
	width: 350px;
	padding: 20px;
}
.modalText{
	height: 23px;
	display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.modalInput{
	display: flex;
    width: 200px;
    align-items: center;
}
.modalall{
	position: relative;
}