* {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
}

.flex-box {
  display: flex;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table, .ui-jqgrid tr.jqgrow td {
  font-size: 12px;
}

input, select {
  height: 24px;
  font-size: 12px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  padding: 0px 5px;
}

input[type="checkbox"] {
  margin: 0 5px;
  width: 15px;
  height: 15px;
}

input[type="checkbox"], input[type="radio"]:hover {
  cursor: pointer;
}

label {
  font-size: 14px;
}

button:hover,
input[type="checkbox"] ~ label:hover,
input[type="radio"] ~ label:hover,
select:hover {
  cursor: pointer;
}

.btn {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn:hover {
  background-color: #F8F9FC;
}

.btn:active {
  background-color: #DADADA;
}

.btn-big {
  position: relative;
  padding: 2px 16px;
  width: 80px;
}

.btn-mid {
  margin-right: 5px;
  padding: 5px;
  width: 85px;
  text-align: end;
}

.btn-small {
  margin-right: 5px;
  padding: 1px 10px;
  width: 70px;
  line-height: 18px;
  text-align: end;
}

.nav {
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #68baf2;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.search-division-box {
  margin-right: 100px;
}

.nav-division-title {
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;
}

.radio-container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  height: 24px;
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.search-radio-label {
  margin-left: 5px;
  margin-right: 10px;
}

.inspection-label {
  display: inline-block;
  width: 70px;
}

.inspection-select-container {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inspection-select-box {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.inspection-select {
  width: 200px;
}

.check-btn {
  margin-bottom: 5px;
  height: 24px;
  text-align: end;
}

.check-btn:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background: url("/images/check.png") no-repeat center / cover;
}

.inspection-item-container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.inspection-item-label {
  margin-right: 10px;
  line-height: 20px;
}

.inspection-items {
  width: 300px;
}

.search-container {
  display: flex;
  height: 250px;
}

.search-left-box {
  width: 70%;
  border-right: 1px solid #ccc;
}

.search-right-box {
  width: 30%;
}

.search-grid-top {
  background-color: #005d92;
  border-bottom: 1px solid #ccc;
}

.search-grid-title {
  padding: 7px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #218ecb;
}

.search-select-container {
  padding: 10px;
  display: flex;
}

.qcQuality-select-box {
  margin-right: 5px;
  width: 400px;
}

.inspectionList-select-box {
  margin-right: 5px;
  width: 250px;
}

.grid-container {
  height: 176px;
  overflow: hidden;
}

.result-container {
  height: 55%;
}

.result-title {
  padding: 7px 10px;
  color: #fff;
  font-size: 14px;
  background-color: #218ecb;
}

.result-top-box {
  padding: 10px;
  background-color: #005d92;
}

.result-subtop-box {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.result-option-container {
  display: flex;
  align-items: center;
}

.result-check-all {
  margin-right: 20px;
}

.result-check-container {
  align-items: center;
}

.result-check-container label,
.result-label {
  margin-right: 5px;
}

.result-input {
  margin-right: 10px;
  height: 24px;
  background-color: #fff;
}

.result-input.date {
  width: 100px;
}

.qcCode-input {
  width: 120px;
}

.qcMaterial-input {
  width: 200px;
}

.result-btn-container {
  display: flex;
  justify-content: flex-end;
}

.item-btn {
  position: relative;
  text-align: end;
}

.btn-small:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}

.search-btn:before {
  background: url("/images/search.png") no-repeat center / cover;
}

.clear-btn:before {
  background: url("/images/clear.png") no-repeat center / cover;
}

.btn-mid:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}

.item-add-btn:before {
  background: url("/images/add.png") no-repeat center / cover;
}

.item-save-btn:before {
  background: url("/images/save.png") no-repeat center / cover;
}

.item-delete-btn:before {
  background: url("/images/delete.png") no-repeat center / cover;
}

.must-option {
  padding: 2px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #F39100;
  color: #fff;
}

.must-option input[type="checkbox"] {
  margin-left: 0;
}

.grid-3 {
  width: 100%;
  height: calc(100% - 110px);
  overflow: auto;
}

.ui-jqgrid tr td {
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
}

.ui-jqgrid .ui-jqgrid-bdiv {
  overflow-x: hidden;
}

.ui-datepicker {
  padding: 5px;
  border: 1px solid #ccc;
}

.ui-datepicker-prev, .ui-datepicker-next {
	margin-right: 5px;
    padding: 0 3px;
    font-size: 14px;
    background-color: skyblue;
}

.ui-datepicker-calendar {
	text-align: center;
}

.ui-datepicker-title {
	margin: 8px 0;
	margin-bottom: 3px;
	text-align: center;
}

.ui-datepicker-calendar thead {
	padding-bottom: 5px;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
	padding: 3px 0;
}

.ui-datepicker-week-end {
	color: red;
}

.ui-datepicker-current-day {
	background-color: skyblue;
}