.header {
    box-sizing: border-box;
    padding: 10px;
    background: #005D92;
    color: #FFF;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 2rem;
}

body input, body select{
    height: 20px !important;
    position: relative;
    top: 8px;
}

label{
    margin-left: 5px;
    margin-right: 10px;
}
body{
	position: relative;
    background: #F1F1F1;
}
.body{
    height: 50vh;
    overflow: auto;
}
/* section .button-container{
    border: 1px solid #000;
    position: absolute;
    right: 0;
} */

button:hover{
    background-color: #218ECB;
    color: #fff;
}

button:active{
    background: #005D92;
    color: #fff;
}

.button-container button:hover{
    background-color: #218ECB;
    color: #fff;
}
.button-container button:active{
    background: #005D92;
    color: #fff;
}

.button-container button{
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #E8E8E8;
    width: 60px;
    height: 25px;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}

.container{
    display: flex;
}

.container div:first-child{
    text-align: right;
}
.check-title{
    width: 50px;
    text-align: right;
    margin-right: 5px;
}
.check-inputbox1{
    width: 90px;
}
.check-inputbox2{
    width: 90px;
    margin-right: 20px;
}
.check-part-title {
    width: 60px;
    text-align: right;
    margin-left: 10px;
    margin-right: 5px;
}
.check-part-select{
    width: 200px;
}
.check-external{
    margin-left: 12px;
}
.lotno-title{
    margin-left: 20px;
    margin-right: 10px;
}
.level-title{
    width: 50px;
    text-align: right;
    margin-left: 20px;
    margin-right: 5px;    
}
.level-select{
    width: 100px;
}
.check-wave{
    margin-left: 5px;
    margin-right: 5px;
}

.check-item-title{
    width: 50px;
    text-align: right;
    margin-right: 5px;
}
.check-inputbox{
    width: 170px;
    margin-right: 4px;
}
.check-item-button{
    margin-right: 20px;
}
.check-item-margin{
    margin-left: 5px;
    margin-right: 10px;
}

.substance-title{
    width: 60px;
    text-align: right;
}

.substance-select{
    margin-left: 5px;
    margin-right: 20px;
    width: 200px;
}

.qccode-input{
    margin-left: 6px;
    margin-right: 20px;
}
.check-jangbi-title{
    width: 50px;
    text-align: right;
}
.check-jangbi-select{
    margin-left: 5px;
    width: 100px;
}

.footer-header{
    color: #fff;
    font-weight: 700;
    display: flex;
    line-height: 2rem;
    padding-left: 20px;
    background-color: #5584AC;
}

.footer-header button{
    position: relative;
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #FFF;
    width: 120px;
    padding-left: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.footer-header button:hover{
    background-color: #218ECB;
    color: #fff;
}

.footer-header button:active{
    background: #005D92;
    color: #fff;
}
.check-item-button{
    position: relative;
    width: 23px;
    height: 20px;
    top: 8px;
}
.check-item-button:before{
    content: '';
    background: url(../images/icons/searchsearch.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    z-index: 10000;
    left: 3px;
    
}


.excel-btn:before{
    content: '';
    background: url(../images/icons/excel.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 10000;
    left: 5px;
}
.save-btn{
    top: 1px;
}
.save-btn:before{
    content: '';
    background: url(../images/icons/save.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 10000;
    left: 5px;
}
.find-btn:before{
    content: '';
    background: url(../images/icons/searchsearch.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 10000;
    left: 5px;
}


.delete-btn:before{
    content: '';
    background: url(../images/icons/delete.png);
    width: 13px;
    height: 13px;
    background-size: contain;
    display: block;
    position: absolute;
    top: 5px;
    z-index: 10000;
    left: 5px;
}

.graph-view:before{
    content: '';
    background: url(../images/icons/bar-graph.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 10000;
    left: 5px;
}
.graph-output:before{
    content: '';
    background: url(../images/icons/printer.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    z-index: 10000;
    left: 5px;
}

.state-container{
	display : flex;
	position : fixed;
	width : 100vw;
	bottom : 0;
	z-index : 10000;
	color : #fff;
	border-top: 1px solid #D2D2D2;
	background: #606477;
	padding: 10px 20px;
	align-items: center;
}


.chart-container{
    height: 165px;
    overflow: auto;
}

.gumsa-modal{
    position: absolute;
    padding : 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    border: 1px solid #000;
    border-radius: 5px;
}
.check-container{
    display: flex;
}

.flex {
    display: flex;
}

.ml {
    margin-left: 25%;
}
.space-around{
    justify-content: space-around;
}

.modal__background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
  }

.gumsa-modal-btn{
    margin-top: 3%;
}
.open-modal{
    display: block;
}

.gumsa-modal-btn button{
    width: 33%;
    padding: 2%;
}

.gumsa-modal-display{
    margin-top: 3%;
    height: 75%;
    border: 1px solid #000;
}
.overflow-A{
    overflow: auto;
}

.selected{
    background-color: #218ECB;
}

.modal-row{
    border-bottom: 1px solid black;
}

.modal-row div{
    padding: 5px;
}